body {
    margin: 0;
    padding: 0;
    background-color: #0b1e13; /* Verde oscuro tipo jardín */
    color: #fff;
    font-family: 'Courier New', monospace;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .portada {
    text-align: center;
  }
  
  h1 {
    font-size: 3em;
    margin-bottom: 20px;
    letter-spacing: 2px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #50c878;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  button:hover {
    transform: scale(1.05);
    background-color: #68e090;
  }
  